html{
    font-family: 'Bree Serif', sans-serif;
}
    body {
        height: 100vh;
        margin: 0 auto;
        padding: 0;
        background-color: #F5F5F5;
      }
    ul {
        list-style-type: none;
        grid-area: 1 / 1 / 4 / 4; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        text-align: center;
    }
        
